<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roamly Heaven</title>
{#    <link rel="stylesheet" href="/static/bootstrap-5.0.0-dist/css/bootstrap.css">#}
    {% load bootstrap5 %}
    {% bootstrap_css %}

</head>
<body>
    <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Roamly Heaven</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/login/" class="nav-link active" aria-current="page">Login</a></li>
        <li class="nav-item"><a href="/signup/" class="nav-link">Sign up</a></li>
        <li class="nav-item"><a href="/faqs/" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="/about/" class="nav-link">About</a></li>
      </ul>
    </header>
  </div>
    <div class="container"><h3>FAQs</h3></div>

    <div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© 2023 RoamlyHeaven, Inc</span>
    </div>
  </footer>
</body>
</html>